:root {
}

main {
  margin: 0px;
}

p {
  margin: 0;
}
/*HOVER LIKE BUTTON*/
.heart .heart-fill {
  fill: #00000000;
}

.heart .heart-outline {
  fill: #000000;
}

.heart .heart-outline,
.heart .heart-fill {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
#heart:hover {
  cursor: pointer;
}

#heart:hover .heart-fill,
#heart:hover .heart-outline {
  fill: #ff0000;
}

.radius1 {
  border-top-right-radius: 1.2rem;
}

.radius2 {
  border-bottom-right-radius: 1.2rem;
}
