nav,
nav button {
  font-size: 0.8rem;
}

h1 {
  font-size: 7rem;
  font-weight: bolder;
}

#wrapper {
  height: 80vh;
  background-color: black;
  background-image: url(../assets/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-y: 50%;
}

.main-bar {
  width: 700px;
  height: 60px;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

@media screen and (max-width: 766px) {
  #wrapper {
    height: 27vh;
    background-color: black;
    background-image: none;
  }

  .main-bar {
    width: 350px;
    margin-top: 20px;
  }
  ::placeholder {
    font-size: 0.4rem;
  }
}
